<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Blog">
  <select id="selectOne" resultType="hashmap">
    select * from tb_blog where id = #{id}
  </select>
  <select id="selectAll" resultType="hashmap">
    SELECT id, subject, content, reg_date, status FROM tb_blog
  </select>
  <insert id="insert" parameterType="hashmap">
  	insert into tb_blog (subject, content, reg_date)
  	values (#{subject}, #{content}, #{reg_date})
  </insert>
  <update id="update" parameterType="hashmap">
  	update tb_blog set subject = #{subject}, content = #{content}, status = #{status}
	where id = #{id}
  </update>
  <delete id="delete" parameterType="int">
  	delete from tb_blog	where id = #{id}
  </delete>  
</mapper>