<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Basic Tables - Ace Admin</title>
    
    <!-- include common vendor stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="../css/brands.css">    
    <link rel="stylesheet" type="text/css" href="../css/regular.css">
    <link rel="stylesheet" type="text/css" href="../css/solid.css">
        
    <!-- include vendor stylesheets used in "Basic Tables" page. see "application/views/default/pages/partials/tables-basic/@vendor-stylesheets.hbs" -->
    <link rel="stylesheet" type="text/css" href="../css/ace.min.css">
    
      <!-- include common vendor scripts used in demo pages -->
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/popper.js"></script>
      <script type="text/javascript" src="../js/bootstrap.js"></script>
      <script type="text/javascript" src="../js/underscore.js"></script>
      <!-- include Ace script -->
      <script type="text/javascript" src="../js/ace.min.js"></script>
      <script type="text/javascript" src="../js/hello.js"></script>
    
  </head>

  <body>
   <div class="body-container">

$m.includePage("top.jsp")      
      
      <div class="main-container">
        
$m.includePage("menu.jsp")

         <div role="main" class="main-content">

#parse($BODY)

          <footer class="footer d-none d-sm-block">
             <div class="footer-inner bgc-white-tp1">
                <div class="pt-3 border-none border-t-3 brc-grey-l1 border-double">
                   <span class="text-muted">hellojsp &copy; 2020</span>
                </div>
             </div><!-- .footer-inner -->
          
             <div class="footer-tools">
                <a id="btn-scroll-up" href="#" class="btn-scroll-up btn btn-dark btn-smd mb-2 mr-2">
                   <i class="fa fa-angle-double-up mx-1"></i>
                </a>
             </div>
          </footer>
          
          <!-- footer toolbox for mobile view -->
          <footer class="d-sm-none footer footer-sm footer-fixed">
           <div class="footer-inner">
             <div class="btn-group d-flex h-100 mx-2 border-x-1 border-t-2 brc-primary-m3 bgc-default-l4 radius-t-1 shadow">
                <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0">
                   <i class="fas fa-sliders-h text-blue-m1 text-120"></i>
                </button>
          
                <button class="btn btn-outline-purple btn-h-lighter-purple btn-a-lighter-purple border-0">
                   <i class="fa fa-plus-circle text-purple-m2 text-120"></i>
                </button>
          
                <button class="btn btn-outline-warning btn-h-lighter-warning btn-a-lighter-warning border-0" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
                   <i class="fa fa-search text-warning text-120"></i>
                </button>
          
                <button class="btn btn-outline-brown btn-h-lighter-brown btn-a-lighter-brown border-0 mr-0">
                   <i class="fa fa-bell text-brown-m1 text-120"></i>
                </button>
             </div>
           </div>
          </footer>
        </div><!-- /main -->
      </div>
   </div><!-- /.body-container -->
  </body>
</html>